html {
  font-size: 100%;
  line-height: 1.15;
  }

  body {
  text-size:
  width: 90%;
  max-width: 60em;
  margin: 1em auto;
  }

/* CRAP CODE */


/* LIST */
#nav li a {
  color: #000;
}

#nav ul {
  list-style: none;
  padding-left: 0;
}

img {
display: block;
    /*
margin-left: auto;
    margin-right: auto
 */
  padding: 0;
  margin: 0;
}

h1 {
text-transform: uppercase;
 text-align: center;
 background: #669999;
 padding: 1em;
 overflow: hidden;
  margin-left:-1em;
  margin-right:-1em;
  margin-top: -00.1em;
  margin-bottom: 0em;
}





p {
  text-align: center;
}


img.ebbandflowimg {
  max-width: 50%;
  max-height: 50%;
  vertical-align: middle;
  margin-bottom: 1em;


}


figcaption {
overflow: hidden;
font-size: 1em;
   display: block;

}


img.tahomaimg {

   width: 50%;
  height: 50%;
  vertical-align: middle;
  margin-bottom: 2em;

}

img.selfservingimg {
   width: 50%;
  height: 50%;
  vertical-align: middle;
margin-bottom: 2em;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    background: #777;
}
